{% extends 'base.html.twig' %}

{% block title %}New Mentor{% endblock %}

{% block body %}
    <h1>Create new Mentor</h1>

    {{ include('mentor_control/_form.html.twig') }}

    <a href="{{ path('app_mentor_control_index') }}">back to list</a>
{% endblock %}
